<!-- templates/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Forecast API</title>
</head>
<body>
    <h1>🌤️ Welcome to the Weather Forecast API</h1>

    <ul>
        <li><a href="/user/register/"> Register a new user</a></li>
        <li><a href="/user/payment/">💳 Go Premium</a></li>
        <li><a href="/auth/login/">🔐 Login</a></li>
        <li><a href="/api/forecast/">🔍 Forecast</a></li>
        <li><a href="/api/forecast/history/">🔍 Forecast History</a></li>
    </ul>
</body>
</html>