<!DOCTYPE html>
<html>
<head>
    <title>Sei già Premium</title>
</head>
<body>
    <h1>Ciao {{ user.username }}!</h1>
    <p>Sei già un utente <strong>premium</strong> 🎉</p>
    <p>Grazie per il tuo supporto!</p>
    <a href="/api/forecast/">
                <button style="
                    padding: 10px 20px;
                    font-size: 16px;
                    background-color: #4CAF50;
                    color: white;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                ">
                    Vai alle previsioni
                </button>
        </a>
</body>
</html>