<!DOCTYPE html>
<html>
<head>
    <title>Pagamento completato</title>
</head>
<body>
    <h1>Grazie!</h1>
    <p>Ora sei un utente premium ✅</p>
    <a href="/api/forecast/">
            <button style="
                padding: 10px 20px;
                font-size: 16px;
                background-color: #4CAF50;
                color: white;
                border: none;
                border-radius: 5px;
                cursor: pointer;
            ">
                Vai alle previsioni
            </button>
    </a>
</body>
</html>